@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">
            Payment Successfully!
        </h1>
        <h3>
            Your Order Number is : @Model
        </h3>
        <img src="~/images/payment_done.svg" width="40%" />
    </div>

</div>



